<div class="login-container">
  <div class="login-left">
    <div class="login-box">
      <div class="logo-container">
        <img src="/assets/unparalled-high-resolution-logo-transparent.png" alt="Logo" class="login-logo" height="250" width="300"/>
      </div>
      <form>
        <div class="input-container">
          <input id="email" type="email" placeholder="Enter your email" required>
        </div>

        <div class="input-container">
          <input id="password" type="password" placeholder="Enter your password" required>
        </div>

        <div class="remember-me-forgot-password">
          <div class="custom-checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
          <div class="forgot-password">
            <a href="#">Forgot Password?</a>
          </div>
        </div>

        <button type="submit" class="submit-button">Log In</button>
      </form>

      <div class="signup-link">
        <p>Don’t have an account? <a href="#">Sign up</a></p>
      </div>
    </div>
  </div>

  <div class="login-right">
    <div class="login-illustration">
      <img src="/assets/welcoming-image.webp" style="border-radius: 20px" height="400" width="500">
      <p style="color: #D1CDB6" class="closing-remark">Let us handle the books, so you can break through limits.</p>
    </div>
  </div>
</div>
