html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.scroll-container {
  overflow-y: auto;
  height: 100%;
}
/*.section {*/
/*   !* Ensure sections take at least the full viewport height *!*/
/*  height: auto; !* Allow them to adjust based on content *!*/
/*  padding: 0; !* Remove extra padding *!*/
/*}*/
.section {
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
}

#welcome, #pricing, #overview, #steps {
  min-height: 80vh;
  padding-bottom: 100px;
}

#welcome {
  background-color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 0;
}

#pricing {
  background-color: #f4f5ff;
  margin-top: 0;
  padding-top: 0;
}

#overview {
  background-color: #ffffff;
}

#steps {
  background-color: #f4f5ff;
}
