/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/node_modules
/accountant-app/target/
/.idea/
/frontend-app/node_modules/
/accountant-app/test-classes/
/frontend-app/.idea/