/* General Navbar Styles */
header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-link {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%; /* Smaller padding to make the navbar smaller */
  max-width: 1200px;
  margin: 0 auto; /* Ensures center alignment */
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: 50px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #483AB6;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: #7e7979;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #372A95;
}

/* CTA Buttons */
.cta-buttons {
  display: flex;
  gap: 10px;
}

.cta-signin,
.cta-signup {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.cta-signin {
  color: #483AB6;
  border: 2px solid #483AB6;
}

.cta-signin:hover {
  background-color: rgba(72, 58, 182, 0.2);
}

.cta-signup {
  background-color: #483AB6;
  color: white;
}

.cta-signup:hover {
  background-color: #372A95;
}

/* Sticky Navbar Style (after scroll) */
.sticky {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 5%; /* Same padding to ensure the navbar stays in place */
}

.sticky .navbar {
  max-width: 1200px;
  margin: 0 auto; /* Keep the navbar centered */
}

.sticky .nav-links a {
  color: #7e7979;
}

.sticky .nav-links a:hover {
  color: #372A95;
}

.sticky .cta-signin {
  color: #483AB6;
  border: 2px solid #483AB6;
}

.sticky .cta-signup {
  background-color: #483AB6;
  color: white;
}

.sticky .cta-signin:hover {
  background-color: rgba(72, 58, 182, 0.2);
}

.sticky .cta-signup:hover {
  background-color: #372A95;
}

/* Transition effect */
.sticky-transition {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
}

.go-back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.go-back-link {
  color: #483AB6; /* Accent color */
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.go-back-link:hover {
  color: #372A95; /* Darker hover color */
}
