:host {
  display: block;
  padding: 50px 20px;
  background-color: #f9f9f9;
  background-image: url('/assets/images/steps-back.jpg');
  background-size: cover;
  background-position: center;
}

.steps-section {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.steps-section h2 {
  color: #FFFFFF;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 40px;
}

.steps-section p {
  font-size: 1.3rem;
  margin-bottom: 50px;
  color: #ffffff;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: white;
}

.step-img {
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.step-content {
  margin-left: 40px;
  width: 50%;
  padding-left: 20px;
  text-align: left;
}

.step-content h3 {
  color: #FFFFFF;
  font-size: 2rem;
  margin-bottom: 10px;
}

.step-content p {
  color: #e0e0ff;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .steps {
    flex-direction: column;
  }

  .step {
    flex-direction: column;
    text-align: center;
  }

  .step-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .step-content {
    width: 100%;
    padding: 0;
  }
}
