.invoice-comparison-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #483AB6;
}

.futuristic-title {
  font-size: 3rem;
  color: #5e4cce;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background: linear-gradient(to right, #5e4cce, #8a6ce2);
  -webkit-background-clip: text;
  color: transparent;
}

.futuristic-subtitle {
  font-size: 1.2rem;
  color: #8a6ce2;
  margin-top: 10px;
  text-transform: none;
  letter-spacing: 1px;
}

.subscription-details {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.subscription-box {
  background: #f1f1ff;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 1rem;
}

.subscription-box p {
  margin: 10px 0;
  color: #5e4cce;
  font-weight: 600;
}

.comparison-count {

}

.upload-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.dropbox-container {
  flex: 1 1 40%;
  max-width: 40%;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px auto;
}

.dropbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px dotted #483AB6;
  border-radius: 20px;
  align-items: center;
  height: 150px;
  background-color: #e0d8ff;
  padding: 20px;
}

.dropbox-label {
  color: #483AB6;
  font-size: 1.2rem;
}

.uploaded-files {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  font-size: 0.9rem;
}

.uploaded-files li {
  position: relative;
  margin-bottom: 10px;
  background-color: #f0f0ff;
  padding: 5px;
  border-radius: 5px;
}

.remove-button {
  position: absolute;
  right: 12px;
  top: 3px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-button {
  background-color: #5e4cce;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 30px;
}


.upload-button:hover {
  background-color: #483AB6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .upload-section {
    flex-direction: column;
    align-items: center;
  }

  .dropbox-container {
    max-width: 90%;
    width: 90%;
  }
}
