<div class="register-container">
  <div class="register-left">
    <div class="register-box">
      <div class="logo-container">
        <img src="/assets/images/unparalled-high-resolution-logo-transparent.png" alt="Logo" class="register-logo" height="250"
             width="300"/>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="input-row">
          <div class="input-container half">
            <input id="first-name" type="text" formControlName="firstName" placeholder="First Name"
                   [ngClass]="{'invalid': isFieldInvalid('firstName')}" required>
          </div>
          <div class="input-container half">
            <input id="last-name" type="text" formControlName="lastName" placeholder="Last Name"
                   [ngClass]="{'invalid': isFieldInvalid('lastName')}" required>
          </div>
        </div>

        <div class="input-row">
          <div class="input-container half">
            <input id="email" type="email" formControlName="email" placeholder="Email Address"
                   [ngClass]="{'invalid': isFieldInvalid('email')}" required>
          </div>
          <div class="input-container half">
            <input id="username" type="text" formControlName="username" placeholder="Username"
                   [ngClass]="{'invalid': isFieldInvalid('username')}" required>
          </div>
        </div>

        <div class="input-row">
          <div class="input-container">
            <input id="password" type="password" formControlName="password" placeholder="Choose Password"
                   [ngClass]="{'invalid': isFieldInvalid('password')}" (input)="onPasswordInput()" required>

            <!-- Password Requirements List -->
            <div class="password-requirements" *ngIf="showPasswordRequirements">
              <p [ngClass]="{'valid': passwordErrors?.minLength, 'invalid': !passwordErrors?.minLength}">
        <span class="requirement-icon">
          <i
            [ngClass]="{'fa-solid fa-x': !passwordErrors?.minLength, 'fa fa-check-circle': passwordErrors?.minLength}"></i>
        </span>
                <ng-container i18n>Minimum 8 characters</ng-container>
              </p>
              <p [ngClass]="{'valid': passwordErrors?.hasUppercase, 'invalid': !passwordErrors?.hasUppercase}">
        <span class="requirement-icon">
          <i
            [ngClass]="{'fa-solid fa-x': !passwordErrors?.hasUppercase, 'fa fa-check-circle': passwordErrors?.hasUppercase}"></i>
        </span>
                <ng-container i18n> At least 1 uppercase letter </ng-container>
              </p>
              <p [ngClass]="{'valid': passwordErrors?.hasLowercase, 'invalid': !passwordErrors?.hasLowercase}">
        <span class="requirement-icon">
          <i
            [ngClass]="{'fa-solid fa-x': !passwordErrors?.hasLowercase, 'fa fa-check-circle': passwordErrors?.hasLowercase}"></i>
        </span>
                <ng-container i18n> At least 1 lowercase letter </ng-container>
              </p>
              <p [ngClass]="{'valid': passwordErrors?.hasNumber, 'invalid': !passwordErrors?.hasNumber}">
        <span class="requirement-icon">
          <i
            [ngClass]="{'fa-solid fa-x': !passwordErrors?.hasNumber, 'fa fa-check-circle': passwordErrors?.hasNumber}"></i>
        </span>
                <ng-container i18n> At least 1 number </ng-container>
              </p>
              <p [ngClass]="{'valid': passwordErrors?.hasSpecialChar, 'invalid': !passwordErrors?.hasSpecialChar}">
        <span class="requirement-icon">
          <i
            [ngClass]="{'fa-solid fa-x': !passwordErrors?.hasSpecialChar, 'fa fa-check-circle': passwordErrors?.hasSpecialChar}"></i>
        </span>
                <ng-container i18n> At least 1 special character </ng-container>
              </p>
            </div>
          </div>
          <div class="input-container">
            <input id="confirm-password" type="password" formControlName="confirmPassword"
                   placeholder="Confirm Password" [ngClass]="{'invalid': isFieldInvalid('confirmPassword')}" required>
          </div>
        </div>

        <div class="radio-container" (click)="onGenderClick()">
          <div class="radio-option">
            <input id="gender-male" type="radio" formControlName="gender" value="male">
            <label for="gender-male">
              <span class="custom-radio"></span>
              Male
            </label>
          </div>
          <div class="radio-option">
            <input id="gender-female" type="radio" formControlName="gender" value="female">
            <label for="gender-female">
              <span class="custom-radio"></span>
              Female
            </label>
          </div>
        </div>

        <button type="submit"
                (click)="onSubmitButtonClick()"
                class="submit-button"
                [disabled]="!registerForm.valid || isLoading"
                [ngClass]="{'enabled': registerForm.valid && isPasswordValid() && !isLoading}">
          <span *ngIf="!isLoading; else loadingTemplate" i18n>Create Account</span>
          <ng-template #loadingTemplate>
            <div class="loading-container">
              <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              <span i18n>Loading...</span>
            </div>
          </ng-template>
        </button>
      </form>

      <div class="login-link">
        <p i18n>Already have an account? <a href="/login">Log in</a></p>
      </div>
    </div>
  </div>

  <div class="register-right">
    <div class="register-illustration">
      <img src="/assets/images/Animation.gif" style="border-radius: 20px" height="400" width="700">
      <p style="color: #D1CDB6" class="closing-remark" i18n>Let us handle the books, so you can break through limits.</p>
    </div>
  </div>
</div>
