<div class="overlay-background">
  <div class="app-selection-container">
    <h2 i18n>Select Your Application</h2>
    <div class="app-icons">
      <div class="app-icon" (click)="selectApp('invoice-comparison')">
        <img src="/assets/images/accounting.png" alt="Invoice Comparison">
        <p i18n>Invoice Comparison</p>
      </div>
      <div class="app-icon" (click)="selectApp('inventory')">
        <img src="/assets/images/security.png" alt="Inventorization">
        <p i18n>Accounts and Balances</p>
      </div>
    </div>
  </div>
</div>
