.error-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

.error-content {
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #483AB6;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.error-title {
  font-size: 2rem;
  color: #483AB6;
}

.error-message {
  font-size: 1.2rem;
  color: #6557cf;
  margin: 10px 0 20px 0;
}

.return-button {
  padding: 10px 20px;
  background-color: #483AB6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.return-button:hover {
  background-color: #6c63ff;
}

.error-image {
  width: 250px;
  margin-bottom: 20px;
}
