<div class="side-nav-container">
  <div class="company-logo-container">
    <img src="/assets/unparalled-favicon-white.png" alt="Company Logo" class="company-logo-img" />
    <span class="company-name">unparalleled.</span>
  </div>

  <div class="profile-container">
    <i class="fa fa-user-circle fa-5x"></i>
    <h4 class="profile-name">{{ profile?.firstName }} {{ profile?.lastName }}</h4>
    <span class="user-role">PRO</span>
  </div>
  <nav>
    <ul class="side-nav-links">
      <li>
        <a routerLink="/dashboard">
          <i class="fa fa-tachometer-alt"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/invoice-comparison">
          <i class="fa fa-file-invoice"></i> <span>Invoice Comparison</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings">
          <i class="fa fa-cogs"></i> <span>Settings</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="logout-container">
    <a class="logout-button" (click)="onLogout()">
      <i class="fa fa-sign-out-alt" aria-hidden="true"></i> <span>Logout</span>
    </a>
  </div>
</div>
