/* Side Navigation Container */
.side-nav-container {
  position: relative;
  background-color: #483AB6;
  color: #FFFFFF;
  width: 240px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
}

.company-logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
  margin-bottom: 15px; /* Reduced margin */
}

.company-logo-img {
  height: 40px;
  width: 40px;
}

.company-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 3px;
  margin-top: 17px;
}

/* Profile Section */
.profile-container {
  margin-top: 15px; /* Reduced space between company and profile */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center profile content */
  gap: 5px; /* Reduced gap between elements */
  margin-bottom: 4rem;
}

.profile-image {
  width: 140px; /* Adjusted to be smaller */
  height: auto;
}

.profile-name {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.user-role {
  font-size: 12px;
  color: #d1cdb6;
}

/* Navigation Links Styling */
.side-nav-links {
  margin-top: 15px; /* Adjusted spacing */
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.side-nav-links li {
  margin: 10px 0;
  width: 100%; /* Make sure li element takes the full width */
  display: block;
}

.side-nav-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and text */
  padding: 12px 15px; /* Increased padding for better clickability */
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.side-nav-links li:hover {
  background-color: #6152c7; /* Lighter background color on hover */
}

.side-nav-links i {
  font-size: 20px;
}

/* Logout Section Styling */
.logout-container {
  margin-top: auto;
  width: 100%;
  padding-top: 20px;
}

.logout-button {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  transition: color 0.3s;
  width: 100%;
}

.logout-button:hover {
  color: #d1cdb6;
}

.logout-button i {
  font-size: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .side-nav-container {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }

  .profile-container {
    padding: 15px 0;
  }

  .side-nav-links {
    margin-top: 15px;
  }

  .logout-container {
    margin-top: auto;
    padding-top: 10px;
  }
}
