<div class="welcome-section">
  <div class="content-container">
    <h1 i18n>Automated Invoice Comparison for Accountants</h1>
    <p class="subtitle" i18n>Save time, ensure accuracy, and streamline your business with <span class="animate">UNPARALLELED</span> tools for effortless invoice comparisons.</p>
    <p class="subtitle"><p i18n>Sign up today and get 1 free comparison with a file upload limit up to one file per format. Start now and see how easy invoice comparisons can be!</p>
    <div class="cta-buttons">
      <button class="cta-button primary" i18n>Get Started Free</button>
    </div>
    <img src="/assets/images/dasboard-overview.jpg" alt="Dashboard Screenshot" class="dashboard-img">
  </div>
</div>
